@media (min-width: 48em) {
  .page__inner-wrap {
    display: flex;
  }

  .page__content {
    flex: 1; /* Ensure the main content takes the available space */
  }

  .sidebar-right {
    display: none; /* Ensure the right sidebar is hidden */
  }
}
