<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"> <!-- Include your main CSS file -->
</head>
<body>
  <header>
    <h1>{{ site.title }}</h1>
  </header>
  <nav>
    <ul>
      {% for link in site.links %}
        <li>
          <a href="{{ link.url }}">
            <i class="{{ link.icon }}"></i> {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
</body>
</html>
